@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400&display=swap');

/* Colors and Fonts */
:root {
    /* Primary Colors */
    --bg-black: #1b2a30;
    /*--blue: #6cedf4;*/
    --blue: rgba(108, 237, 244, 0.9);
    --pink: #ff85a9;

    /* Font Size */
    --big: 3rem;
    --medium: 1.8rem;
    --normal: 1.3rem;
    --tiny: 0.75rem;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: #fff;
    color: var(--bg-black);
    text-shadow: none;
}

html,
body. div {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
}

main {
    font-size: var(--normal);
    color: var(--blue);
    background-color: var(--bg-black)
}

/* All About NavBar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.4rem 0.5rem 0px 1rem;
    background: var(--bg-black);
}

a {
    color: var(--blue);
}

.robot {
    position: relative;
    top: -4px;
}

.bot-name {
    font-size: var(--medium);
    color: #fff;
}

li {
    list-style-type: none;
    padding: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--blue);
    font-size: var(--normal)
}

.nav-links {
    display: flex;
    position: relative;
    top: -6px;
}

.nav-links>li>a:hover {
    color: white;
}

/* Header Section */
.head {
    text-shadow: 0px 0px 2px;
    align-items: center;
    padding: 2rem 5rem;
    height: 100vh;
}

.bot-disc {
    color: #fff;
    text-shadow: none;
}

.robot-icon {
    position: relative;
    animation-name: bounce;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    font-size: var(--big)
}

.robot-icon {
    max-width: 100%;
    height: auto;
}

.features {
    margin-top: 1rem;
    line-height: 0.2;
    color: #fff;
    text-shadow: none;
    border-left: 1px solid #fff;
}

.feature::before {
    content: '»';
    color: var(--blue);
    text-shadow: 0px 0px 2px;
}

/* Invite Button */
#invite-btn {
    text-decoration: none;
    background: #6fb4c7;
    /*text-shadow: none;*/
    font-size: var(--medium);
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    color: #fff;
    border-radius: 5px;
}

#invite-btn:hover {
    background: var(--blue)
}

/* Status Section */
.status {
    padding: 0 5rem;
    padding-bottom: 10rem;
}

.status-desc {
    padding-left: 5rem;
    font-size: var(--medium)
}

.status-desc>h2 {
    text-shadow: 0px 0px 2px;
}

.status-img {
    max-width: 100%;
    height: auto;
}

/* Footer */
.footer {
    background: #071417;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.footer>ul {
    display: flex;
}

.footer>ul>li>a {
    color: var(--blue)
}

.footer>ul>li>a:hover {
    color: #fff;
}

.creator {
    font-size: var(--medium);
    color: #fff;
}

/* Media Queries */
@media (max-width: 540px) {
    
    .nav-links a {
        font-size: 1rem;
    }

    .head {
        padding: 1rem;
    }

    .status {
        padding: 1rem;
    }

    .status-desc {
        font-size: var(--normal);
        padding: 1rem;
    }

    .footer {
        padding: 1rem;
        font-size: var(--normal)
    }

    #invite-btn {
        padding: 1rem;
        font-size: var(--normal)
    }

    .features {
        border: none;
        padding: 0;
    }

    @media (max-width: 420px) {
    nav {
        /*justify-content: center;*/
        align-items: center;
    }
    .nav-links a {
        display: none;
    }

    .head {
        padding: 5px;
    }

    .status {
        padding: 0 5px;
        padding-top: 10px;
    }

    .status-desc {
        font-size: 1rem;
        padding: 5px;
    }

    .footer {
        padding: 5px;
        font-size: var(--tiny)
    }

    #invite-btn {
        padding: 5px;
        font-size: var(--normal)
    }

    .features {
        border: none;
        padding: 0;
    }

    .creator {
        font-size: 1rem;
    }

}